<html>
  <head>
    <title>currency converter api</title>
    <style>
      body {
        display: flex;
      }
    </style>
  </head>
  <body>
    <h1>Currency Exchange API</h1>
    <p>
      This Currency Exchange API is REST-ful and supports CORS, so it can also
      be used in web browsers.
    </p>

    <h1>Routes</h1>
    <h2>GET / (text/html)</h2>
    <p>Returns an HTML document with API routes and usage.</p>

    <h2>GET /convert (application/json)</h2>
    <p>
      Returns a JSON object with the converted currency, using the latest
      exchange target rates published by the European Central Bank.
    </p>

    <p>Query parameters:</p>

    <ul>
      <li>from: 3-letter ISO-4217 code for the base currency.</li>
      <li>to: 3-letter ISO-4217 code for the quote currency.</li>
      <li>
        amount: Amount to be converted, in base currency. Use a dot (.) as
        decimal separator, grouping separators are not allowed.
      </li>
    </ul>

    <span>Response:</span>

    <ul>
      <li>
        amount (string): The converted amount as a string, with 4 decimal
        places.
      </li>
      <li>
        currency (string): 3-letter ISO-4217 code for the target currency used
        for the conversion.
      </li>
      <li>
        rate (string): The effective conversion rate applied, with 8 decimal
        places
      </li>
      <li>date (string): The date of the rates returned from the ECB.</li>
    </ul>
  </body>
</html>
